:root {
  --color_yellow: #feda48;
  --color_green: #009c58;
  --color_red: #ea522f;
  --color_purple: #4858a4;
  --color_blue: #009fe3;
  --color_dark: #122735;
  --color_gray: #828282;
  --color_dark_gray: #f7f7f7;
  --big_font: 18px;
  --medium_font: 14px;
  --small_font: 12px;
}
